.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 83.33%;
    z-index: 40;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    background-color: #6b46c1;
}

.mobile-menu--dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 35;
    background: rgba(0, 0, 0, 0.3);
}